<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>394120930615-inulsttf9pqs72q8so805p30pd2eurge.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.394120930615-inulsttf9pqs72q8so805p30pd2eurge</string>
	<key>API_KEY</key>
	<string>AIzaSyCBpfxqnCGIknh5hStbN7b2KnkdMPUMsGY</string>
	<key>GCM_SENDER_ID</key>
	<string>394120930615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ilkertacyildiz.BasicSnapchatClone</string>
	<key>PROJECT_ID</key>
	<string>basicsnapchatclone</string>
	<key>STORAGE_BUCKET</key>
	<string>basicsnapchatclone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:394120930615:ios:5a2c1247b708ef578226b2</string>
</dict>
</plist>